:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #f6f6f6;
  overflow-x: hidden;
  overflow-y: auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #646cff;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  height: 42px;
}

input[type='text'] {
  width: 100%;
  height: 42px;
  border-radius: 8px;
  border: 0;
  padding: 0 1.2em;
  font-family: inherit;
  background: rgba(100, 108, 255, 0.11);
}

textarea{
  resize: none;
  width: 100%;
  min-height: 80px;
  border-radius: 8px;
  border: 0;
  padding: 12px;
  font-family: inherit;
  background: rgba(100, 108, 255, 0.11);
}

button:hover {
  opacity: 0.7;
}

.checkbox{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  padding: 8px 12px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid  #646cff;
  cursor: pointer;
  font-size: .8em;
  width: fit-content;
}

/*оболочка*/

.content-wrapper {
  display: grid;
  gap: 16px;
  padding: 32px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

/*список*/
.content {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkboxes{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.search-form{
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
}

.task-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*карточка*/

.task{
  background: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid rgba(100, 108, 255, 0.2);
  border-radius: 16px;
  min-height: 150px;
  cursor: pointer;
  transition: 0.3s;
}

.task__head-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task:hover{
  transform: scale(1.02);
}

.task__name{
  line-height: 100%;
}

.task__info, .task__id{
  opacity: .2;
  line-height: 100%;
}

.task__empty-item{
  flex: 1;
}

.task-statuses{
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.task-statuses__is-important{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(255, 0, 0, 0.26);
  color: rgb(175, 0, 0);
  font-weight: bold;
  font-size: 12px;
}

.task-statuses__is-completed{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(72, 255, 0, 0.26);
  color: rgb(44, 175, 0);
  font-weight: bold;
  font-size: 12px;
}

/*левая панель*/

.edit-panel{
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task__switch-state-button{
  background: rgba(0, 179, 3, 0.71);
}

.task__delete-button{
  background: rgba(255, 0, 0, 0.71);
}

.task__edit-button{
  background: rgba(255, 89, 0, 0.71);
}

/*форма левой панели*/

.edit-panel__form{
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  background: white;
  padding: 16px;
  border: 1px solid rgba(100, 108, 255, 0.2);
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  user-select: none;
}

